.nav{
	/*border: 1px solid red;*/
	text-align: center
	}
.nav a{
	text-decoration: none;
	color: black;
	vertical-align: middle;
	font-size: 18px;
	padding: 1%;
	font-family: 'Poppins', sans-serif;
}
.signin{
	border: 1px solid skyblue;
	border-radius: 35px;
	height: 1px;
	color: white;
	background-color: #00bbf2;
}
.signin:hover{
	background-color: #0f4b8a;
}
.span{
	color: white;
}
.section1{
	font-size: 25px;
	text-align: center;
	font-size: 25px;
	font-family: 'Poppins', sans-serif;
}
.two{
	/*border: 1px solid red;*/
	height: 40px;
	background-color: #f6f6f6;
}
.section2{
	/*border: 1px solid red;*/
	display: flex;
	justify-content: space-between;
}
.India{
	font-family: 'Poppins', sans-serif;
	font-size: 60px;
}
.recharge{
	font-size: 30px;
}
.app{
	border: 1px solid black;
	width: 30%;
	border-radius: 20px;
	padding: 10px;
	color: white;
	background-color: black;
	text-decoration: none;
}
.app:hover{
	color: black;
	background-color: white;
}
.learnmore:hover{
	background-color: #0f4b8a;
}
.paybills{
	font-family: 'Poppins', sans-serif;
	color: white;
	font-size: 36px;
	background-color: #00bbf2;
}
.sec3{
	margin-top: 9%;
	/*border:1px solid red;*/
	padding: 5px;
	background-color: #00bbf2;
}
.rec{
	/*border:1px solid red ;*/
	display: flex;
	margin: 10px;
}
.rec1{
	/*border:1px solid red ;*/
	width: 15%;
	text-align: left;
	line-height: 7px;
	font-family: 'Poppins', sans-serif;
}
.rent{
	/*border:1px solid red ;*/
	width: 15%;
	text-align: left;
	line-height: 7px;
	font-family: 'Poppins', sans-serif;
}
.ele{
	/*border:1px solid red ;*/
	width: 15%;
	text-align: left;
	line-height: 7px;
	font-family: 'Poppins', sans-serif;
}
.dth{
	/*border:1px solid red ;*/
	width: 15%;
	text-align: left;
	line-height: 7px;
	font-family: 'Poppins', sans-serif;
}
.cyn{
	/*border:1px solid red ;*/
	width: 15%;
	text-align: left;
	line-height: 7px;
	font-family: 'Poppins', sans-serif;
}
.cre{
	/*border:1px solid red ;*/
	width: 15%;
	text-align: left;
	line-height: 7px;
	font-family: 'Poppins', sans-serif;
}
.all{
	/*border:1px solid red ;*/
	width: 15%;
	text-align: left;
	line-height: 7px;
	font-family: 'Poppins', sans-serif;
}
.rec1,.rent,.ele,.dth,.cyn,.cre,.all{
	border-radius: 20px;
	width: 10% !important;
	margin: 30px;
	color: white;
	background-color: #00bbf2;
}
.book{
	font-family: 'Poppins', sans-serif;
	color: white;
	font-size: 36px;
}
.sec4{
	/*border:1px solid red;*/
	padding: 5px;
	background-color: #0f4b8a;
}
.buy{
	/*border:1px solid red ;*/
	display: flex;
	margin: 10px;
}
.movie{
	/*border:1px solid red ;*/
	width: 15%;
	text-align: left;
	line-height: 7px;
	font-family: 'Poppins', sans-serif;
}
.flight{
	/*border:1px solid red ;*/
	width: 15%;
	text-align: left;
	line-height: 7px;
	font-family: 'Poppins', sans-serif;
}
.bus{
	/*border:1px solid red ;*/
	width: 15%;
	text-align: left;
	line-height: 7px;
	font-family: 'Poppins', sans-serif;
}
.train{
	/*border:1px solid red ;*/
	width: 15%;
	text-align: left;
	line-height: 7px;
	font-family: 'Poppins', sans-serif;
}
.ins{
	/*border:1px solid red ;*/
	width: 15%;
	text-align: left;
	line-height: 7px;
	font-family: 'Poppins', sans-serif;
}
.int{
	/*border:1px solid red ;*/
	width: 15%;
	text-align: left;
	line-height: 7px;
	font-family: 'Poppins', sans-serif;
}
.inv{
	/*border:1px solid red ;*/
	width: 15%;
	text-align: left;
	line-height: 7px;
	font-family: 'Poppins', sans-serif;
}
.movie, .flight, .bus, .train, .ins, .int, .inv{
	border-radius: 20px;
	width: 10% !important;
	margin: 30px;
	color: white;
	background-color: #0f4b8a;
}
.sec5{
	/*border: 1px solid red;*/
	background-color: #f5f7fa;
}
.s5head{
	font-size: 50px;
	font-family: 'Poppins', sans-serif;
	margin: 7% 12% 4% 4%;
}
.s5d1{
	/*border: 1px solid red;*/
	width:90%;
}
.s5p1{
	/*border: 1px solid red;*/
	display: flex;
	border-radius: 20px;
	width: 80%;
	padding: 6%;
	margin-left: 50px;
	background-color: white;
}
.wallet{
	/*border: 1px solid red;*/
	width: 30%;
	display: flex;
	font-family: 'Poppins', sans-serif;
}
.pw{
	margin-top: 10%;
}
.fast{
	font-size: 35px;
	font-family: 'Poppins', sans-serif;
}
.fpara{
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 15%;
}
.walletimg{
	margin-left: 10%;
}
.s5d2{
	/*border: 1px solid red;*/
	width:92%;
}
.s5p2{
	/*border: 1px solid red;*/
	display: flex;
	border-radius: 20px;
	width: 80%;
	padding: 6%;
	margin-top: 50px;
	margin-left: 50px;
	background-color: white;
}
.upi{
	/*border: 1px solid red;*/
	width: 40%;
	display: flex;
	font-family: 'Poppins', sans-serif;
}
.upii{
	margin-top: 10%;
}
.pay{
	font-size: 35px;
	font-family: 'Poppins', sans-serif;
}
.paypara{
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 8%;
}
.paid{
	margin-left: 10%;
}
.s5d3{
	/*border: 1px solid red;*/
	width:85%;
}
.s5p3{
	/*border: 1px solid red;*/
	display: flex;
	border-radius: 20px;
	width: 80%;
	padding: 6%;
	margin-top: 50px;
	margin-left: 50px;
	background-color: white;
}
.post{
	/*border: 1px solid red;*/
	width: 80%;
	display: flex;
	margin-bottom: 30px;
	font-family: 'Poppins', sans-serif;
}
.want{
	font-size: 35px;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 30px;
}
.wantpara{
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 8%;
}
.bag{
	margin-left: 10%;
}
.learnmore{
	/*border: 1px solid #00bbf2;*/
	width: 70%;
	font-size: 20px;
	border-radius: 30px;
	padding: 10px;
	color: white;
	background-color: #00bbf2;
	text-decoration: none;
	font-family:'Poppins', sans-serif ;
}
.hdfc{
	/*border: 1px solid red;*/
	border-radius: 20px;
	margin-top: 40px;
	background-color: white;
	width: 38%;
	margin-left: 50px;
	padding: 5% 2% 0% 4%;
}
.unlimit{
	font-family:'Poppins', sans-serif ;
	font-size: 40px;
}
.hdfcpara{
	font-family:'Poppins', sans-serif ;
	font-size: 20px;
}
.sbi{
	/*border: 1px solid red;*/
	border-radius: 20px;
	margin-top: 40px;
	background-color: white;
	width: 38%;
	margin-left: 50px;
	padding: 9% 2% 0% 4%;
}
.indiaa{
	font-family:'Poppins', sans-serif ;
	font-size: 40px;
}
.indiaapara{
	font-family:'Poppins', sans-serif ;
	font-size: 20px;
}
.twoparts{
	display: flex;
}
.sec5{
	margin-bottom: 10%;
}
.fin{
	font-family:'Poppins', sans-serif ;
	font-size: 45px;
	margin-top: 5%;
	margin-left: 4%;
}
.sec6{
	/*border: 1px solid red;*/
}
.fullbank{
	/*border: 1px solid red;*/
	width: 95%;
	padding: 3% 0% 3% 4%;
	display: flex;
	justify-content: space-between;
}
.s6i1{
	margin-bottom: 4%;
}
.sincere{
	font-family:'Poppins', sans-serif ;
	font-size: 35px;
}
.sincerepara{
	font-family:'Poppins', sans-serif ;	
	font-size: 16px;
	margin-bottom: 12%;
}
.s6i2{
	margin-right: 3%;
}
.sec7{
	padding: 5% 2% 7% 2%;
	background-color: #f5f7fa;
	background-image: url("images/s7bgm.png");
	background-size: 100%;
	background-repeat: no-repeat;
}
.moun{
	/*border: 1px solid red;*/
	width: 50%;
}
.sec7{
	display: flex;
	justify-content: space-between;
}
.build{
	font-family:'Poppins', sans-serif ;
	font-size: 40px;
}
.buildpara{
	font-family:'Poppins', sans-serif ;
	margin-bottom: 5%;
}


